In [9]:
import yfinance as yf
import pandas as pd

In [3]:
dir(yf)

['Ticker',
 'Tickers',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'cache',
 'const',
 'data',
 'download',
 'enable_debug_mode',
 'exceptions',
 'multi',
 'pdr_override',
 'scrapers',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version']

In [32]:
apple=yf.Ticker("AAPL")
data = apple.history(interval='1m', period="1d")
data.index.name="Date"

data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-15 09:30:00-04:00,171.000000,172.470001,171.000000,171.714996,0,0.0,0.0
2024-03-15 09:31:00-04:00,171.690002,171.875000,171.429993,171.587402,197261,0.0,0.0
2024-03-15 09:32:00-04:00,171.589996,171.826096,171.350006,171.440002,187163,0.0,0.0
2024-03-15 09:33:00-04:00,171.434998,171.679993,171.339996,171.410004,161290,0.0,0.0
2024-03-15 09:34:00-04:00,171.399994,171.889999,171.389999,171.744995,210347,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-15 15:55:00-04:00,171.929993,172.380005,171.869995,172.320007,645122,0.0,0.0
2024-03-15 15:56:00-04:00,172.324997,172.389999,172.225006,172.250000,419348,0.0,0.0
2024-03-15 15:57:00-04:00,172.229996,172.389999,172.229996,172.375000,395727,0.0,0.0
2024-03-15 15:58:00-04:00,172.375000,172.470001,172.324997,172.440094,564206,0.0,0.0
2024-03-15 15:59:00-04:00,172.449997,172.600006,172.419998,172.570007,1517377,0.0,0.0

In [25]:
data["Date"] = pd.to_datetime(data['Date'])
data = data.rename(columns={"Date":"Datetime"})

data.sort_values(by="Datetime",ascending=False)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-03-15 15:59:00-04:00,172.449997,172.600006,172.419998,172.570007,1517377,0.0,0.0
2024-03-15 15:58:00-04:00,172.375000,172.470001,172.324997,172.440094,564206,0.0,0.0
2024-03-15 15:57:00-04:00,172.229996,172.389999,172.229996,172.375000,395727,0.0,0.0
2024-03-15 15:56:00-04:00,172.324997,172.389999,172.225006,172.250000,419348,0.0,0.0
2024-03-15 15:55:00-04:00,171.929993,172.380005,171.869995,172.320007,645122,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-15 09:34:00-04:00,171.399994,171.889999,171.389999,171.744995,210347,0.0,0.0
2024-03-15 09:33:00-04:00,171.434998,171.679993,171.339996,171.410004,161290,0.0,0.0
2024-03-15 09:32:00-04:00,171.589996,171.826096,171.350006,171.440002,187163,0.0,0.0
2024-03-15 09:31:00-04:00,171.690002,171.875000,171.429993,171.587402,197261,0.0,0.0
2024-03-15 09:30:00-04:00,171.000000,172.470001,171.000000,171.714996,0,0.0,0.0