In [1]:
import yfinance as yf
import pandas as pd

In [2]:
dir(yf)

['Ticker',
 'Tickers',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'cache',
 'const',
 'data',
 'download',
 'enable_debug_mode',
 'exceptions',
 'multi',
 'pdr_override',
 'scrapers',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version']

In [22]:
apple=yf.Ticker("AAPL")
data = apple.history(interval='1m', period="1d")
data.index.name="Date"

data = data.reset_index()

In [23]:
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-03-15 09:30:00-04:00,171.000000,172.470001,171.000000,171.714996,0,0.0,0.0
1,2024-03-15 09:31:00-04:00,171.690002,171.875000,171.429993,171.587402,197261,0.0,0.0
2,2024-03-15 09:32:00-04:00,171.589996,171.826096,171.350006,171.440002,187163,0.0,0.0
3,2024-03-15 09:33:00-04:00,171.434998,171.679993,171.339996,171.410004,161290,0.0,0.0
4,2024-03-15 09:34:00-04:00,171.399994,171.889999,171.389999,171.744995,210347,0.0,0.0
...,...,...,...,...,...,...,...,...
384,2024-03-15 15:55:00-04:00,171.929993,172.380005,171.869995,172.320007,645122,0.0,0.0
385,2024-03-15 15:56:00-04:00,172.324997,172.389999,172.225006,172.250000,419348,0.0,0.0
386,2024-03-15 15:57:00-04:00,172.229996,172.389999,172.229996,172.375000,395727,0.0,0.0
387,2024-03-15 15:58:00-04:00,172.375000,172.470001,172.324997,172.440094,564206,0.0,0.0
388,2024-03-15 15:59:00-04:00,172.449997,172.600006,172.419998,172.570007,1517377,0.0,0.0

In [24]:
data.Date = pd.to_datetime(data.Date)

In [25]:
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-03-15 09:30:00-04:00,171.000000,172.470001,171.000000,171.714996,0,0.0,0.0
1,2024-03-15 09:31:00-04:00,171.690002,171.875000,171.429993,171.587402,197261,0.0,0.0
2,2024-03-15 09:32:00-04:00,171.589996,171.826096,171.350006,171.440002,187163,0.0,0.0
3,2024-03-15 09:33:00-04:00,171.434998,171.679993,171.339996,171.410004,161290,0.0,0.0
4,2024-03-15 09:34:00-04:00,171.399994,171.889999,171.389999,171.744995,210347,0.0,0.0
...,...,...,...,...,...,...,...,...
384,2024-03-15 15:55:00-04:00,171.929993,172.380005,171.869995,172.320007,645122,0.0,0.0
385,2024-03-15 15:56:00-04:00,172.324997,172.389999,172.225006,172.250000,419348,0.0,0.0
386,2024-03-15 15:57:00-04:00,172.229996,172.389999,172.229996,172.375000,395727,0.0,0.0
387,2024-03-15 15:58:00-04:00,172.375000,172.470001,172.324997,172.440094,564206,0.0,0.0
388,2024-03-15 15:59:00-04:00,172.449997,172.600006,172.419998,172.570007,1517377,0.0,0.0

In [26]:
data.Date = data.Date.astype(str)

In [27]:
data.Date = pd.to_datetime(data.Date)
data.Date=data.Date.dt.strftime("%Y-%b-%d")

In [28]:
data.Date[::10]

0      2024-Mar-15
10     2024-Mar-15
20     2024-Mar-15
30     2024-Mar-15
40     2024-Mar-15
50     2024-Mar-15
60     2024-Mar-15
70     2024-Mar-15
80     2024-Mar-15
90     2024-Mar-15
100    2024-Mar-15
110    2024-Mar-15
120    2024-Mar-15
130    2024-Mar-15
140    2024-Mar-15
150    2024-Mar-15
160    2024-Mar-15
170    2024-Mar-15
180    2024-Mar-15
190    2024-Mar-15
200    2024-Mar-15
210    2024-Mar-15
220    2024-Mar-15
230    2024-Mar-15
240    2024-Mar-15
250    2024-Mar-15
260    2024-Mar-15
270    2024-Mar-15
280    2024-Mar-15
290    2024-Mar-15
300    2024-Mar-15
310    2024-Mar-15
320    2024-Mar-15
330    2024-Mar-15
340    2024-Mar-15
350    2024-Mar-15
360    2024-Mar-15
370    2024-Mar-15
380    2024-Mar-15
Name: Date, dtype: object